
<footer class=" absolute bottom-0 w-full bg-indigo-600 p-5 rounded flex justify-center items-center">
    <p class="text-white">
        <small>&copy; Copyright</small>
        PriyankaBadatiya, 2021
    </p>
</footer>
